.card {
  background-color: #fff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.116);
  border-radius: 10px;
  border: none;
}

.section-wraper {
  padding: 50px 0;
  overflow: hidden;
}

.section-wraper .section-title {
  font-size: 24px;
  font-family: 'Myriad Pro Semibold', sans-serif;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: black;
}

@media screen and (max-width: 768px) {
  .section-wraper .section-title {
    text-align: center;
  }
}

.inner-title {
  font-size: 48px;
  font-weight: lighter;
  letter-spacing: -1px;
  line-height: 50px;
  color: #839097;
}

@media screen and (max-width: 768px) {
  .inner-title {
    font-size: 30px;
    line-height: 32px;
  }
}

.inner-desc {
  letter-spacing: 0.2px;
  text-align: center;
  color: #adadad;
  font-size: 18px;
}

.color-primary {
  color: #07532a !important;
}

.color-secondary {
  color: #e4af3d !important;
}

.border-light {
  border: 0.5px solid #e4e4e4 !important;
}

.price {
  font-size: 30px;
  font-weight: bold;
  color: #07532a !important;
}

.price .total {
  font-size: 25px;
  margin-right: 30px;
  font-weight: 500;
}

.price .sign {
  font-size: 15px;
  font-weight: 500;
}

.img-70 {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.circle {
  border-radius: 50%;
}

.container--max {
  padding: 0 80px;
}

@media screen and (max-width: 992px) {
  .container--max {
    padding: 0 40px;
  }
}

@media screen and (max-width: 768px) {
  .container--max {
    padding: 0 20px;
  }
}

.chevron-right {
  height: 100% !important;
  width: 100% !important;
  background-image: url(../images/ico/chevron-right.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.chevron-left {
  height: 100% !important;
  width: 100% !important;
  background-image: url(../images/ico/chevron-left.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bounce {
  -moz-animation: bounce 1.5s infinite;
  -webkit-animation: bounce 1.5s infinite;
  animation: bounce 1.5s infinite;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

a:visited, a:link, a:hover, a:active {
  text-decoration: none;
}

a {
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-weight: lighter;
}

ul li {
  display: block;
  padding: 2px 0;
}

button, a[role="button"] {
  cursor: pointer !important;
}

b {
  font-weight: bold;
}

.lity {
  background-color: rgba(1, 20, 9, 0.938);
}

@font-face {
  font-family: 'Myriad Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Regular"), url("../fonts/MYRIADPRO-REGULAR.woff") format("woff");
}

@font-face {
  font-family: 'Myriad Pro Condensed';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Condensed"), url("../fonts/MYRIADPRO-COND.woff") format("woff");
}

@font-face {
  font-family: 'Myriad Pro Condensed Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Condensed Italic"), url("../fonts/MYRIADPRO-CONDIT.woff") format("woff");
}

@font-face {
  font-family: 'Myriad Pro Light';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Light"), url("../fonts/MyriadPro-Light.woff") format("woff");
}

@font-face {
  font-family: 'Myriad Pro Semibold';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Semibold"), url("../fonts/MYRIADPRO-SEMIBOLD.woff") format("woff");
}

@font-face {
  font-family: 'Myriad Pro Semibold Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Semibold Italic"), url("../fonts/MYRIADPRO-SEMIBOLDIT.woff") format("woff");
}

@font-face {
  font-family: 'Myriad Pro Bold Condensed';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Bold Condensed"), url("../fonts/MYRIADPRO-BOLDCOND.woff") format("woff");
}

@font-face {
  font-family: 'Myriad Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Bold"), url("../fonts/MYRIADPRO-BOLD.woff") format("woff");
}

@font-face {
  font-family: 'Myriad Pro Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Bold Italic"), url("../fonts/MYRIADPRO-BOLDIT.woff") format("woff");
}

@font-face {
  font-family: 'Myriad Pro Bold Condensed Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Bold Condensed Italic"), url("../fonts/MYRIADPRO-BOLDCONDIT.woff") format("woff");
}

.owl-carousel.nav-center .owl-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

@media screen and (max-width: 992px) {
  .owl-carousel.nav-center .owl-nav {
    top: 30%;
  }
}

.owl-carousel.nav-center .owl-nav button {
  position: absolute;
  color: #07532a !important;
  font-size: 40px !important;
  width: 90px;
  height: 70px;
  opacity: 0.8;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.owl-carousel.nav-center .owl-nav button:hover {
  opacity: 1;
}

.owl-carousel.nav-center .owl-nav button:focus {
  outline: none;
}

@media screen and (max-width: 992px) {
  .owl-carousel.nav-center .owl-nav button {
    top: 5%;
  }
}

@media screen and (max-width: 576px) {
  .owl-carousel.nav-center .owl-nav button {
    width: 40px;
    height: 40px;
  }
}

.owl-carousel.nav-center .owl-nav .owl-prev {
  left: -13%;
}

.owl-carousel.nav-center .owl-nav .owl-next {
  right: -13%;
}

@media screen and (max-width: 768px) {
  .owl-carousel.nav-center .owl-nav .owl-prev {
    left: -17%;
  }
  .owl-carousel.nav-center .owl-nav .owl-next {
    right: -17%;
  }
}

@media screen and (max-width: 1390px) and (min-width: 1246px) {
  .owl-carousel.nav-center .owl-nav .owl-prev {
    left: -10%;
  }
  .owl-carousel.nav-center .owl-nav .owl-next {
    right: -10%;
  }
}

@media screen and (max-width: 576px) {
  .owl-carousel.nav-center .owl-nav {
    height: auto;
  }
  .owl-carousel.nav-center .owl-nav .owl-prev {
    left: -4%;
  }
  .owl-carousel.nav-center .owl-nav .owl-next {
    right: -4%;
  }
}

.owl-carousel .item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.owl-carousel .owl-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.owl-carousel .owl-dots .owl-dot {
  width: 12px;
  height: 12px;
  border: 1px solid rgba(255, 255, 255, 0.699);
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.owl-carousel .owl-dots .owl-dot.active {
  background-color: #b57b30;
}

.owl-carousel .owl-dots .owl-dot:focus, .owl-carousel .owl-dots .owl-dot:active {
  outline: none;
}

.owl-center .owl-stage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100% !important;
}

.daterangepicker {
  border-color: #e5af3c;
}

.daterangepicker::before {
  border-bottom-color: #e5af3c;
}

.daterangepicker .next span,
.daterangepicker .prev span {
  border-color: #b57b30 !important;
}

.daterangepicker td.active {
  color: black;
  font-weight: 600;
  background-color: #e5af3c;
}

.daterangepicker td.active:hover {
  background-color: #b3892f;
  color: black;
}

.daterangepicker td.in-range {
  background-color: #f5ebd0;
}

.daterangepicker td.in-range:hover {
  background-color: #f5ebd0;
}

.daterangepicker .drp-calendar.right {
  border-left: 1.4px solid #e5af3c;
}

.daterangepicker .drp-buttons {
  border-color: #e5af3c;
}

.main-header {
  position: relative;
  margin-bottom: 40px;
}

@media screen and (max-width: 992px) {
  .main-header {
    padding: 0;
  }
}

.main-header__content {
  padding: 40px 0;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .main-header__content {
    padding: 0;
  }
}

.main-header__content .container {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 992px) {
  .main-header__content .container {
    padding: 0;
    justify-content: center;
    flex-direction: column;
  }
}

.main-header__content__tools {
  position: relative;
  display: flex;
  margin-top: 30px;
}

@media screen and (max-width: 992px) {
  .main-header__content__tools {
    margin-top: 0;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #07532a;
  }
}

.main-header__content__tools__form {
  position: relative;
  width: 250px;
}

@media screen and (max-width: 992px) {
  .main-header__content__tools__form {
    margin-right: 10px;
    width: 50%;
  }
}

.main-header__content__tools__form input {
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  border: 1px solid black;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding-left: 20px;
  font-size: 13px;
  text-transform: uppercase;
  padding: 5px 10px;
  height: 32px;
}

@media screen and (max-width: 992px) {
  .main-header__content__tools__form input {
    border-color: #fff;
  }
}

.main-header__content__tools__form input:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.075);
  box-shadow: none;
}

.main-header__content__tools__form input::placeholder {
  color: rgba(0, 0, 0, 0.849);
}

@media screen and (max-width: 992px) {
  .main-header__content__tools__form input::placeholder {
    color: #fff;
  }
}

.main-header__content__tools__form:after {
  content: '\f002';
  position: absolute;
  right: 10px;
  top: 1px;
  font-family: FontAwesome;
  font-size: 17px;
  color: #202020;
}

@media screen and (max-width: 992px) {
  .main-header__content__tools__form:after {
    color: #fff;
  }
}

@media screen and (max-width: 992px) {
  .main-header__content__tools__lang {
    width: 30%;
  }
}

.main-header__content__tools__toggler {
  display: none;
  background-color: #b57a30;
}

@media screen and (max-width: 992px) {
  .main-header__content__tools__toggler {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
  .main-header__content__tools__toggler button {
    color: #fff;
    font-size: 20px;
  }
}

.main-header__content__brand {
  height: 70px;
}

@media screen and (max-width: 992px) {
  .main-header__content__brand {
    height: auto;
    margin-top: 15px;
    margin-bottom: 30px;
    order: 1;
    display: flex;
    justify-content: center;
  }
}

.main-header__content__brand img {
  height: 100%;
}

.nav-bege .main-header {
  padding: 0;
}

.nav-bege .main-header__content {
  background-image: url(../images/banners/bgwave.png);
  background-size: cover;
}

@media screen and (min-width: 992px) {
  .nav-bege .main-nav {
    background: #e9cd8f;
  }
}

.nav-bege .main-nav__list__item:not(:first-child) {
  border-left: 1px solid #fff;
}

@media screen and (max-width: 992px) {
  .nav-bege .main-nav__list__item:not(:first-child) {
    border-left: none;
  }
}

.main-nav {
  background-color: #fff;
  background: linear-gradient(to right, rgba(247, 247, 247, 0.3192), rgba(255, 255, 255, 0.563), rgba(255, 255, 255, 0.563), rgba(255, 255, 255, 0.563), rgba(255, 255, 255, 0.863), rgba(247, 247, 247, 0.392));
  width: 100%;
  display: block;
  z-index: 5;
}

@media screen and (max-width: 992px) {
  .main-nav {
    position: absolute;
    left: 0;
    top: 70px;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    background-color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .main-nav.active {
    max-height: 1000px;
  }
}

.main-nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

@media screen and (max-width: 992px) {
  .main-nav__list {
    flex-direction: column;
  }
}

.main-nav__list__item {
  display: block;
  padding: 10px 30px;
  font-size: 15px;
  line-height: 17px;
  text-transform: uppercase;
  color: black;
  text-align: center;
  letter-spacing: 0.2px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .main-nav__list__item {
    font-size: 14px;
  }
}

@media screen and (max-width: 992px) {
  .main-nav__list__item {
    padding: 15px 10px;
  }
  .main-nav__list__item .dropdown-menu {
    position: static !important;
    transform: translateX(0) !important;
    border: none;
    text-align: center;
    width: 100%;
    font-family: 'Myriad Pro Regular';
    display: block;
    border: none;
    max-height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0 !important;
    transition: all 0.4s ease-in-out;
    box-shadow: none !important;
    border-radius: 0;
  }
  .main-nav__list__item .dropdown-menu.show {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    max-height: 300px;
    margin: 10px 0;
  }
}

.main-nav__list__item:not(:first-child) {
  border-left: 1px solid black;
}

@media screen and (max-width: 992px) {
  .main-nav__list__item:not(:first-child) {
    border-left: none;
  }
}

.main-nav__list__item.active, .main-nav__list__item:hover, .main-nav__list__item:active {
  text-shadow: 0 0 .65px #333, 0 0 .65px #333;
}

.main-nav__list__item a {
  color: inherit;
  width: 100%;
  display: block;
}

.form-control {
  background-color: #fffff7c4;
  height: 45px;
  border-radius: 0;
  border: none;
  color: #181818;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.form-control::placeholder {
  color: rgba(24, 24, 24, 0.76);
}

.form-control:focus, .form-control:active {
  outline: none;
  border: none;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.726);
}

textarea.form-control {
  height: auto;
}

.agenda-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 25px;
  border: 1px solid #b57b30;
  height: 240px;
}

@media screen and (max-width: 500px) {
  .agenda-item {
    width: 70%;
  }
}

.agenda-item__date {
  color: #b57b30;
  font-size: 39px;
  font-family: 'Myriad Pro Bold', sans-serif;
}

.agenda-item__title {
  font-size: 17px;
  letter-spacing: 0.5px;
  font-family: 'Myriad Pro Bold', sans-serif;
}

.agenda-item__info {
  letter-spacing: 0.3px;
  margin-bottom: 20px;
}

.agenda-item__info__item {
  margin-bottom: 2px;
  font-size: 14px;
}

.agenda-item__info b {
  font-family: 'Myriad Pro Bold', sans-serif;
}

.agenda-item__more {
  font-size: 13px;
  font-family: 'Myriad Pro Bold', sans-serif;
  text-transform: uppercase;
  color: #b57b30;
  justify-self: flex-end;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.agenda-item__more:hover {
  color: #8b5f25;
}

.noticia {
  background-color: #f5ebd0;
  height: 450px;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .noticia {
    width: 80%;
  }
}

.noticia__img {
  height: 50%;
}

.noticia__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.noticia__caption {
  height: 50%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 18px 25px;
}

.noticia__caption__date {
  font-size: 15px;
  font-family: 'Myriad Pro Bold', sans-serif;
  color: #b57a30;
  margin-bottom: 10px;
}

.noticia__caption__title {
  font-size: 20px;
  color: black;
  margin-bottom: 10px;
  letter-spacing: 0.4px;
}

.noticia__caption__more {
  font-size: 15px;
  color: black;
  font-family: 'Myriad Pro Bold', sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.documento {
  height: 300px;
  width: 100%;
}

.documento__date {
  font-family: 'Myriad Pro Bold';
  font-size: 16px;
  margin: 10px 0;
  color: black;
}

.documento__desc {
  color: #075229;
  font-size: 18px;
  letter-spacing: 0.4px;
}

.documento__img {
  position: relative;
  height: 200px;
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #e4af3d;
}

.documento__img:after {
  content: '';
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(12, 36, 2, 0.801);
  z-index: 2;
  opacity: 0;
  color: #fff;
  font-size: 50px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.documento__img.video::after {
  content: '\f04b';
  font-family: FontAwesome;
}

.documento__img.download::after {
  content: '\f019';
  font-family: FontAwesome;
}

.documento__img:hover:after {
  opacity: 1;
}

.documento__img img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.dropdown {
  position: relative;
}

.dropdown .dropdown-menu {
  font-family: 'Myriad Pro Regular';
  border: none;
  background-color: rgba(255, 255, 255, 0.986);
  left: -30px !important;
  top: 9px !important;
  padding: 10px 30px;
  font-size: 15px;
  text-transform: none;
  width: 100%;
  box-shadow: 1px 1px 10px rgba(22, 22, 22, 0.062);
}

.dropdown .dropdown-menu .dropdown-item {
  padding: 17px 2px;
  text-align: center;
  text-shadow: none;
  white-space: normal;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.dropdown .dropdown-menu .dropdown-item:hover {
  background-color: inherit;
  text-shadow: 0 0 .45px #333, 0 0 .45px #333;
}

.dropdown .dropdown-menu .dropdown-item:not(:last-child) {
  border-bottom: 0.8px solid black;
}

.dropdown .dropdown-menu:after {
  content: '';
  position: absolute;
  right: 47%;
  top: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}

.dropdown a:focus,
.dropdown a:active {
  outline: none;
}

.scroll-top {
  position: fixed;
  right: 90px;
  bottom: 50px;
  width: 35px;
  height: 35px;
  background-image: url(../images/ico/scrolltop.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 5;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.scroll-top.show {
  opacity: 1;
}

.scroll-top:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.scroll-top:active, .scroll-top:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  .scroll-top {
    right: 50px;
  }
}

.search-bar {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .search-bar .col-12:not(:last-child) {
    padding-right: 0 !important;
  }
  .search-bar .col-12:not(:first-child) {
    padding-left: 0 !important;
  }
}

.search-bar__input {
  position: relative;
  width: 100%;
  height: 40px;
  border: 1px solid #b57b30;
}

.search-bar__input input {
  width: 100%;
  height: 100%;
  border: none;
  padding: 2px 11px;
  color: #4e4e4e;
}

.search-bar__input input:focus {
  outline: none;
  box-shadow: none;
}

.search-bar__input__icon {
  position: absolute;
  right: 13px;
  top: 10px;
  color: #b57b30;
}

.search-bar__submit {
  width: 100%;
  height: 100%;
  min-height: 40px;
  background-color: #f5ebd0;
  border: 1px solid #b57b30;
  font-family: 'Myriad Pro Bold';
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.search-bar__submit:hover {
  background-color: #e4dabe;
}

.linhaacao-card {
  height: 100%;
  background-color: #fffcf4;
  border: 1px solid #e4af3d;
  min-height: 600px;
  display: flex;
  flex-direction: column;
}

.linhaacao-card__img {
  height: 50%;
  width: 100%;
}

.linhaacao-card__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.linhaacao-card__caption {
  padding: 30px;
  height: 50%;
  width: 100%;
}

.linhaacao-card__caption__title {
  font-size: 23px;
  text-transform: uppercase;
  color: #075229;
  margin-bottom: 15px;
}

.linhaacao-card__caption p {
  font-size: 16px;
  text-align: justify;
}

.btn-transparent {
  background: none !important;
  border: none;
  outline: none;
  font-weight: bold;
  cursor: pointer;
}

.btn-transparent:active, .btn-transparent:focus {
  border: none;
  outline: none;
}

.btn-flag {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-flag:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

@media screen and (max-width: 992px) {
  .btn-flag {
    width: 20px;
    height: 20px;
    margin-top: 6px;
  }
}

.btn-flag--pt {
  background-image: url(../images/flags/pt.png);
}

.btn-flag--ing {
  background-image: url(../images/flags/ing.png);
}

.btn-primary {
  min-height: 40px;
  background-color: #f5ebd0 !important;
  border: 1px solid #b57b30;
  color: black;
  font-family: 'Myriad Pro Bold';
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #e4dabe;
  color: black;
}

.btn-default {
  min-height: 40px;
  background-color: #dbdbdb !important;
  border: 1px solid #b57b30;
  color: black;
  font-family: 'Myriad Pro Bold';
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-default:hover {
  background-color: #e4dabe;
  color: black;
}

.main-footer {
  padding: 60px 0 20px;
  background-color: #07532a;
  letter-spacing: 1px;
  color: #fffff5;
}

.main-footer b {
  font-size: 17px;
}

.main-footer__title {
  font-family: 'Myriad Pro Semibold', sans-serif;
  color: #e4af3d;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-right: 10px;
}

.main-footer__subtitle {
  font-size: 17px;
  margin: 20px 0;
}

@media screen and (min-width: 768px) {
  .main-footer .brand-col {
    padding: 30px 50px 66px 0;
  }
}

.main-footer__brand {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-right: 1px solid #fff;
}

@media screen and (max-width: 768px) {
  .main-footer__brand {
    justify-content: flex-start;
    border: none;
  }
}

.main-footer__brand img {
  width: 70%;
}

@media screen and (max-width: 768px) {
  .main-footer__brand img {
    width: 150px;
    margin-bottom: 30px;
  }
}

.main-footer__data {
  margin-bottom: 40px;
}

.main-footer__data ul {
  margin-bottom: 30px;
}

.main-footer__data__medias {
  margin-top: 60px;
}

.main-footer__data__medias__item {
  font-size: 23px;
  color: #fff;
  margin: 0 8px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main-footer__data__medias__item:hover {
  color: #ecebeb;
}

.main-footer__contact__submit {
  color: #e4af3d;
  font-size: 15px;
  font-family: 'Myriad Pro Bold', sans-serif;
  text-transform: uppercase;
  padding: 0;
  margin-top: 20px;
}

.home {
  height: 100vh;
  background-color: #067527;
  background-image: url();
  background-size: cover;
  position: relative;
  background-image: url(../images/banners/bannerhome.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.home__caption {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40%;
  padding-bottom: 20px;
}

@media screen and (max-height: 850px) and (max-width: 1000px) {
  .home__caption {
    padding-bottom: 150px;
  }
}

.home__caption__title {
  font-size: 39px;
  text-transform: uppercase;
  font-family: 'Myriad Pro Light', sans-serif;
  max-width: 62%;
  color: #075329;
}

@media screen and (max-width: 768px) {
  .home__caption__title {
    font-size: 20px;
  }
}

@media screen and (min-width: 1600px) {
  .home__caption__title {
    max-width: 40%;
  }
}

@media screen and (max-height: 700px) and (min-width: 768px) {
  .home__caption__title {
    font-size: 30px;
  }
}

@media screen and (min-height: 690px) and (max-width: 768px) {
  .home__caption__title {
    padding-top: 30px;
    font-size: 22px;
  }
}

.home__scrolldown {
  position: absolute;
  bottom: 40px;
  width: 40px;
  height: 60px;
  background: none;
  border: none !important;
  outline: none !important;
  background-image: url(../images/ico/scrolldown.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  right: 47%;
  z-index: 3;
}

@media screen and (max-width: 768px) {
  .home__scrolldown {
    right: 45%;
  }
}

.banner-organizadores__title {
  padding: 20px 30px 20px 0;
  background-color: #fff;
  transform: translateY(45px);
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Myriad Pro Semibold', sans-serif;
  font-weight: 600;
  color: #332a1f;
}

@media screen and (max-width: 768px) {
  .banner-organizadores__title {
    font-size: 17px;
    text-align: center;
    padding: 20px 10px;
    transform: translate(5%, 38px);
  }
}

.banner-organizadores__content {
  border: 1.1px solid #bf8d4c;
  padding: 50px 30px 30px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.banner-organizadores__item {
  margin: 15px 18px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .banner-organizadores__item {
    width: 80px;
    height: 80px;
  }
  .banner-organizadores__item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.banner-organizadores__item:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.cursos-carousel {
  background-color: #f5ebd0;
  width: 100%;
  background-size: cover;
  margin-top: 80px;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .cursos-carousel {
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .cursos-carousel .container {
    margin: 0 !important;
    padding: 0 !important;
  }
}

.cursos-carousel .owl-dots {
  position: absolute;
  right: 50%;
  width: 100%;
  top: 66%;
  transform: translateX(50%);
  padding: 0 !important;
}

@media screen and (max-width: 768px) {
  .cursos-carousel .owl-dots {
    top: 43%;
  }
}

.cursos-carousel__item {
  height: 80vh;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .cursos-carousel__item {
    width: 100vw;
    height: auto;
  }
}

.cursos-carousel__item__img {
  height: 75%;
}

@media screen and (max-width: 768px) {
  .cursos-carousel__item__img {
    height: 200px;
  }
}

.cursos-carousel__item__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cursos-carousel__item__caption {
  height: 25%;
  border-top: 1.3px solid white;
  background-color: #b57b30;
  color: #fff;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .cursos-carousel__item__caption {
    height: 30%;
  }
}

.cursos-carousel__item__caption__title {
  font-family: 'Myriad Pro Bold', sans-serif;
  font-size: 30px;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media screen and (max-width: 768px) and (max-height: 568px) {
  .cursos-carousel__item__caption__title {
    font-size: 23px;
  }
}

.cursos-carousel__item__caption__subtitle {
  font-size: 23px;
  letter-spacing: 0.4px;
}

@media screen and (max-width: 768px) and (max-height: 568px) {
  .cursos-carousel__item__caption__subtitle {
    font-size: 17px;
  }
}

.cursos-carousel__item__caption__more {
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
}

.cursos-carousel__item__caption__more:hover {
  color: #ebebeb;
}

@media screen and (max-width: 768px) {
  .cursos-carousel .owl-next {
    right: 20px !important;
  }
  .cursos-carousel .owl-next .owl-nav {
    background-image: url(../images/ico/chevron-right--white.png);
  }
  .cursos-carousel .owl-prev {
    left: 20px !important;
  }
  .cursos-carousel .owl-prev .owl-nav {
    background-image: url(../images/ico/chevron-left--white.png);
  }
}

.page-header {
  padding: 20px 0;
}

.page-header__links {
  font-family: 'Myriad Pro Light';
  color: #07532a;
}

.page-header__links a {
  padding: 0 5px;
  text-transform: uppercase;
  color: inherit;
}

.page-header__links b {
  font-family: 'Myriad Pro Bold';
}

.page-header__links .back {
  display: block;
  color: black;
  margin-top: 30px;
}

.page-header__links .page-header__title {
  color: black;
}

.page-header__title {
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-size: 35px;
  margin-top: 15px;
}

.page-header__banner {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #f5ebd0;
  background-image: url(../images/banners/bgwave.png);
  margin: 40px 0;
}

.page-header__banner .container {
  height: 100%;
}

.page-header__banner__img {
  height: 100%;
  width: 100%;
}

.page-header__banner__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sobre {
  background-image: url("../images/banners/bgwave.png");
  background-size: cover;
  margin-top: 220px;
  height: auto;
}

.sobre__banner {
  transform: translateY(-180px);
  width: 100%;
  height: 400px;
  background-image: url("../images/banners/sobre.png");
  background-size: cover;
}

.sobre__content {
  margin-top: -90px;
  padding-bottom: 40px;
}

.sobre__content p {
  margin-bottom: 30px;
  font-size: 18px;
}

.sobre__content img {
  width: 80%;
}

.sobre__content .line-desc {
  position: relative;
  width: 48%;
  margin-top: 40px;
  text-transform: uppercase;
  color: #075329;
  font-size: 23px;
  z-index: 2;
}

.sobre__content .line-desc:after {
  content: '';
  height: 370px;
  width: 2px;
  background-color: #e9cd8f;
  position: absolute;
  left: -50px;
  top: -170px;
}

@media screen and (max-width: 768px) {
  .sobre__content .line-desc {
    width: 70%;
    font-size: 20px;
    padding-left: 20px;
  }
  .sobre__content .line-desc:after {
    left: -10px;
  }
}

.evento {
  padding: 30px 0;
  margin-bottom: 60px;
}

.evento .credits {
  display: block;
  margin-top: 10px;
}

.evento .credits a {
  color: #353535;
}

.evento__content {
  border: 1px solid #b57b30;
  background-color: #f5ebd0;
}

.evento__content__img {
  height: 400px;
  width: 100%;
}

.evento__content__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.evento__content__clipping {
  position: relative;
  height: 900px;
}

.evento__content__clipping iframe {
  height: 100%;
  border: none;
  width: 100%;
}

.evento__content__clipping img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.evento__content__caption {
  padding: 50px;
}

.evento__content__caption__date {
  font-size: 19px;
  letter-spacing: 0.2px;
  margin-bottom: 30px;
}

.evento__content__caption__title {
  font-family: 'Myriad Pro Bold';
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 37px;
}

.evento__content__caption__infos {
  margin-bottom: 30px;
  font-family: 'Myriad Pro Bold';
}

.evento__content__caption__infos li {
  padding-bottom: 0px;
  letter-spacing: 0.3px;
}

.evento__content__caption__infos li span {
  color: #075329;
}

.evento__content__caption__desc {
  font-size: 19px;
  letter-spacing: 0.3px;
  text-align: justify;
}

.documentos-ref__carousel .owl-nav, .ultimoseventos-carousel__carousel .owl-nav {
  top: 32% !important;
}

.documentos-ref__carousel .owl-dot, .ultimoseventos-carousel__carousel .owl-dot {
  border-color: #b57b30 !important;
}

.imprensa {
  min-height: 400px;
}

.imprensa .title {
  font-family: 'Myriad Pro Regular';
  font-size: 30px;
  color: #075329;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.imprensa__buttons {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .imprensa__buttons {
    flex-direction: column;
  }
}

.imprensa__buttons span {
  display: block;
  font-family: 'Myriad Pro Bold';
  padding-top: 7px;
}

.imprensa__buttons button {
  width: 100%;
  background-color: transparent;
  border: 1px solid #b57b30;
  padding: 14px 20px;
  line-height: 16px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.imprensa__buttons button.active, .imprensa__buttons button:focus {
  background-color: #f5ebd0;
  outline: none;
}

.imprensa__buttons button:hover {
  background-color: #b57b30;
  color: #fff;
}

.imprensa__section.clipping {
  padding: 40px 0;
  background-color: transparent;
}

.imprensa__section.clipping.all {
  background-color: #f5ebd0;
}

.imprensa__section.clipping .owl-dots {
  padding-bottom: 0px;
}

.contato {
  background-image: url(../images/banners/bgwave.png);
  background-position: left left;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  margin-top: 30px;
  margin-bottom: 150px;
}

@media screen and (max-width: 768px) {
  .contato {
    background-size: 100% 60%;
  }
}

.contato__form {
  padding: 70px 0;
  padding-right: 50px;
}

@media screen and (max-width: 768px) {
  .contato__form {
    padding-right: 0;
  }
}

.contato__form__title {
  font-size: 30px;
  color: #075329;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.contato__form .form-control {
  border: 1px solid black;
  background-color: #fff;
}

.contato__form button {
  font-family: 'Myriad Pro Bold';
  font-size: 18px;
}

.contato__info {
  padding-left: 30px;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .contato__info {
    padding-left: 0;
  }
}

.contato__info__img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.contato__info__list {
  margin-top: 30px;
  font-size: 17px;
}

.contato__info__list span {
  font-family: 'Myriad Pro Bold';
}

.contato__info__list li {
  padding: 10px 0;
}

.resultadobusca {
  margin: 40px 0 100px;
}

.resultadobusca__item {
  height: auto;
  min-height: 350px;
  width: 100%;
  padding: 50px 0;
}

.resultadobusca__item:nth-child(odd) {
  background-color: #fffcf4;
  border-bottom: 1.5px solid #b57b30;
  border-top: 1.5px solid #b57b30;
}

.resultadobusca__item__title {
  font-family: 'Myriad Pro Bold';
  font-size: 27px;
  margin-bottom: 15px;
}

.resultadobusca__item__desc {
  font-size: 21px;
  margin-bottom: 15px;
  letter-spacing: 0.3px;
}

.resultadobusca__item__desc b {
  color: #b57b30;
}

.resultadobusca__item__link {
  display: block;
  font-size: 21px;
  color: #0b6435;
  margin-bottom: 20px;
}

.resultadobusca__item__link:hover {
  color: #09522b;
}

.linhas-acao {
  padding: 20px 0;
}

@media screen and (max-width: 768px) {
  .linhas-acao {
    margin-bottom: 0 !important;
    padding-top: 0 !important;
  }
}

.linhas-acao__box {
  position: relative;
  display: flex;
  background-color: #fffcf4;
  border: 1px solid #e4af3d;
}

.linhas-acao__box:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #e4af3d;
  left: 80px;
}

@media screen and (max-width: 992px) {
  .linhas-acao__box:after {
    left: 30px;
  }
}

.linhas-acao__box__acoes {
  width: 45%;
  padding: 20px 50px 20px 125px;
  text-align: justify;
  font-size: 17px;
  letter-spacing: 0.3px;
}

@media screen and (max-width: 992px) {
  .linhas-acao__box__acoes {
    padding-left: 75px;
  }
}

.linhas-acao__box__acoes__item {
  position: relative;
}

.linhas-acao__box__acoes__item--title {
  padding: 10px 0;
  margin-top: 15px;
  font-size: 28px;
  line-height: 31px;
  width: 50%;
  color: #b57a30;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.linhas-acao__box__acoes__item:after {
  content: '';
  position: absolute;
  left: -55px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: #fffcf4;
  border-radius: 50%;
  border: 1px solid #e4af3d;
  z-index: 2;
}

.linhas-acao__box__acoes__item:not(:last-child) {
  margin-bottom: 30px;
}

.linhas-acao__box__img {
  position: relative;
  width: 55%;
  flex: 1;
  z-index: 3;
}

.linhas-acao__box__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 992px) {
  .linhas-acao__box__img img {
    height: 300px;
    position: static;
  }
}

@media screen and (max-width: 992px) {
  .linhas-acao__box {
    flex-direction: column;
  }
  .linhas-acao__box__acoes {
    width: 100%;
  }
  .linhas-acao__box__img {
    width: 100%;
  }
}

.banner-estados {
  width: 100%;
  min-height: 90vh;
  background-image: url(../images/banners/bgwave.png);
  background-size: cover;
  padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .banner-estados {
    text-align: center;
  }
}

.banner-estados__title {
  color: #b57b30;
  font-size: 36px;
  text-transform: uppercase;
  font-family: 'Myriad Pro Regular', sans-serif;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .banner-estados__title {
    font-size: 23px;
    margin-bottom: 10px;
  }
}

.banner-estados__subtitle {
  color: black;
  font-size: 22px;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 768px) {
  .banner-estados__subtitle {
    font-size: 17px;
  }
}

.banner-estados img {
  margin-top: 20px;
  width: 80%;
}

body {
  margin: 0;
  background-color: white;
  font-family: 'Myriad Pro Regular', sans-serif;
  overflow-x: hidden;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*# sourceMappingURL=maps/style.css.map */
