<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 brand-col">
                <div class="main-footer__brand">
                    <img src="../images/brands/sojaplus-white.png" alt="Logo Soja Plus Branco">
                </div>
            </div>

            <div class="col-md-4">
                <div class="main-footer__data">
                    <ul>
                        <li class="color-secondary"><b>Telefones:</b></li>
                        <li><b>SP</b> (+55 11) 5536-9816</li>
                        <li><b>MT</b> (+55 65) 3644-4215</li>
                    </ul>

                    <ul>
                        <li><b class="color-secondary">Email:</b> contato@sojaplus.com.br </li>
                        <li><b class="color-secondary">Website:</b> www.sojaplus.com.br</li>
                    </ul>

                    <div class="main-footer__data__medias">
                        <p class="main-footer__title d-inline">Siga-nos!</p>
                        <a target="_blank" href="https://facebook.com/sojaplus" class="main-footer__data__medias__item"><i class="fab fa-facebook-f"
                                aria-hidden="true"></i></a>
                        <a target="_blank" href="https://twitter.com/abiovebr"  class="main-footer__data__medias__item"><i class="fab fa-twitter"
                                aria-hidden="true"></i></a>
                        <a target="_blank" href="https://facebook.com/sojaplus"  class="main-footer__data__medias__item"><i class="fab fa-instagram"
                                aria-hidden="true"></i></a>
                        <a target="_blank" href="https://youtube.com/user/ABIOVEBR"  class="main-footer__data__medias__item"><i class="fab fa-youtube"
                                aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="main-footer__contact">
                    <h5 class="main-footer__title">Entrar em contato</h5>
                    <h5 class="main-footer__subtitle">Cadastre seu nome e e-mail para obter as novidades sobre o Soja Plus!
                    </h5>

                    <form action="">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Nome">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email">
                        </div>
                        <button class="btn btn-transparent main-footer__contact__submit" type="submit">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>
<button class="scroll-top"></button>