<header class="main-header">
    <div class="main-header__content">
        <div class="container">
            <div class="main-header__content__brand">
                <img src="/images/brands/sojaplus.png" alt="Logo Soja Plus">
            </div>
            <div class="main-header__content__tools">
                <div class="main-header__content__tools__form">
                    <form action="">
                        <input type="text" placeholder="Busca">
                    </form>
                </div>
                <div class="main-header__content__tools__lang">
                    <a role="button" class="btn-flag btn-flag--pt" href="#"></a>
                    <a role="button" class="btn-flag btn-flag--ing" href="#"></a>
                </div>
                <div class="main-header__content__tools__toggler">
                    <button type="button" id="navToggler" class="btn-transparent"><i class="fa fa-bars" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
    <nav id="main-nav" class="main-nav">
        <div class="container">
            <ul class="main-nav__list">
                <li class="main-nav__list__item"><a href="">Home</a></li>
                <li class="main-nav__list__item"><a href="">Sobre a Soja Plus</a></li>
                <li class="main-nav__list__item"><a href="">Linhas de Ação</a></li>
                <li class="main-nav__list__item"><a href="">Documentos e referências</a></li>
                <li class="main-nav__list__item"><a href="">Agenda</a></li>
                <li class="main-nav__list__item"><a href="">Imprensa</a></li>
                <li class="main-nav__list__item"><a href="">Contato</a></li>
            </ul>
        </div>
    </nav>
</header>