<header class="main-header">
    <div class="main-header__content">
        <div class="container">
            <div class="main-header__content__brand">
                <a href=""> <img src="../images/brands/sojaplus.png" alt="Logo Soja Plus"></a>
            </div>
            <div class="main-header__content__tools">
                <div class="main-header__content__tools__form">
                    <form action="">
                        <input type="text" placeholder="Busca">
                    </form>
                </div>
                <div class="main-header__content__tools__lang">
                    <a role="button" class="btn-flag btn-flag--pt" href="#"></a>
                    <a role="button" class="btn-flag btn-flag--ing" href="#"></a>
                </div>
                <div class="main-header__content__tools__toggler">
                    <button type="button" id="navToggler" class="btn-transparent"><i class="fa fa-bars"
                            aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
    <nav id="main-nav" class="main-nav">
        <div class="container">
            <ul class="main-nav__list">
                <li class="main-nav__list__item"><a href="./index.html">Home</a></li>
                <li class="main-nav__list__item"><a href="./sobre.html">Sobre a Soja Plus</a></li>
                <li class="main-nav__list__item dropdown show">
                    <a href="#" role="button" id="navLinhasDropdown" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Linhas de Ação</a>
                    <div class="dropdown-menu" aria-labelledby="navLinhasDropdown">
                        <a class="dropdown-item" href="./responsabilidadesocial.html">Responsabilidade Social</a>
                        <a class="dropdown-item" href="./qualidadeproduto.html">Qualidade do Produto</a>
                        <a class="dropdown-item" href="./viabilidadeeconomica.html">Viabilidade Econômica</a>
                        <a class="dropdown-item" href="./melhorespraticas.html">Melhores práticas de produção</a>
                        <a class="dropdown-item" href="./qualidadevida.html">Qualidade de vida</a>
                    </div>
                </li>
                <li class="main-nav__list__item dropdown show">
                        <a href="#" role="button" id="navDocumentosDropdown" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">Documentos e Referências</a>
                        <div class="dropdown-menu" aria-labelledby="navDocumentosDropdown">
                            <a class="dropdown-item" href="./videos.html">Vídeos</a>
                            <a class="dropdown-item" href="./relatorios.html">Relatórios</a>
                            <a class="dropdown-item" href="./apresentacoes.html">Apresentações</a>
                        </div>
                    </li>
                <li class="main-nav__list__item"><a href="./agenda.html">Agenda</a></li>
                <li class="main-nav__list__item"><a href="./imprensa.html">Imprensa</a></li>
                <li class="main-nav__list__item"><a href="./contato.html">Contato</a></li>
            </ul>
        </div>
    </nav>
</header>