.banner-estados {
    width: 100%;
    min-height: 90vh;
    background-image: url(/images/banners/bgwave.png);
    background-size: cover;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 768px){
        text-align: center;
    }

    &__title{
        color: #b57b30;
        font-size: 36px;
        text-transform: uppercase;
        font-family: 'Myriad Pro Regular', sans-serif;
        margin-bottom: 30px;

        @media screen and (max-width: 768px){
            font-size: 23px;
            margin-bottom: 10px;
        }
        
    }

    &__subtitle{
        color: black;
        font-size: 22px;
        letter-spacing: 0.5px;

        @media screen and (max-width: 768px){
            font-size: 17px;
        }
        
    }

    img{
        margin-top: 20px;
        width: 80%;
    }
}
