.home{
    height: 100vh;
    background-color: rgb(6, 117, 39);
    background-image: url();
    background-size: cover;
    position: relative;
    background-image: url(../images/banners/bannerhome.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;


    &__caption{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 40%;
        padding-bottom: 20px;

        @media screen and(max-height: 850px) and (max-width: 1000px){
            padding-bottom: 150px;
        }

        
        &__title{
            font-size: 39px;
            text-transform: uppercase;
            font-family: 'Myriad Pro Light', sans-serif;
            max-width: 62%;
            color:  #075329;
            
            @media screen and(max-width: 768px){
                font-size: 20px;
            }
            
            @media screen and(min-width: 1600px){
                max-width: 40%;
            }

            @media screen and(max-height: 700px) and(min-width: 768px){
                font-size: 30px;
            }

            @media screen and (min-height: 690px) and (max-width: $bp-MD){
                padding-top: 30px;
                font-size: 22px;
            }

            
        }
    }

    &__scrolldown{
        position: absolute;
        bottom: 40px;
        width: 40px;
        height: 60px;
        background: none;
        border: none !important;
        outline: none !important;
        background-image: url(../images/ico/scrolldown.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        right: 47%;
        z-index: 3;

        @media screen and (max-width: 768px){
            right: 45%;
        }
    }
}