@font-face {
    font-family: 'Myriad Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/MYRIADPRO-REGULAR.eot');
    src: url('../fonts/MYRIADPRO-REGULAR.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MYRIADPRO-REGULAR.woff') format('woff'),
        url('../fonts/MYRIADPRO-REGULAR.ttf') format('truetype'),
        url('../fonts/MYRIADPRO-REGULAR.svg#rsuregular') format('svg');
}

@font-face {
    font-family: 'Myriad Pro Light';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/MYRIADPRO-Light.eot');
    src: url('../fonts/MYRIADPRO-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MYRIADPRO-Light.woff') format('woff'),
        url('../fonts/MYRIADPRO-Light.ttf') format('truetype'),
        url('../fonts/MYRIADPRO-Light.svg#rsuregular') format('svg');
}

@font-face {
    font-family: 'Myriad Pro Bold Condensed';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/MYRIADPRO-BOLDCOND.eot');
    src: url('../fonts/MYRIADPRO-BOLDCOND.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MYRIADPRO-BOLDCOND.woff') format('woff'),
        url('../fonts/MYRIADPRO-BOLDCOND.ttf') format('truetype'),
        url('../fonts/MYRIADPRO-BOLDCOND.svg#rsuregular') format('svg');
}


@font-face {
    font-family: 'Myriad Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/MYRIADPRO-BOLD.eot');
    src: url('../fonts/MYRIADPRO-BOLD.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MYRIADPRO-BOLD.woff') format('woff'),
        url('../fonts/MYRIADPRO-BOLD.ttf') format('truetype'),
        url('../fonts/MYRIADPRO-BOLD.svg#rsuregular') format('svg');
}
