.owl-carousel{
    &.nav-center{
        .owl-nav {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;

            @media screen and (max-width: $bp-LG){
                margin-top: 15px;
            }

            button {
                position: absolute;
                top: 40%;
                color: $sp-color-primary !important;
                font-size: 40px !important;
                width: 90px;
                height: 70px;
                opacity: 0.8;
                text-align: center;
                @include transition();
                &:hover {
                    opacity: 1;
                }
                &:focus {
                    outline: none;
                }
                @media screen and(max-width: $bp-LG) {
                    top: 5%;
                }
            }

            .owl-prev {
                left: -13%;
            }

            .owl-next {
                right: -13%;
            }

            @media screen and(max-width: $bp-SM){
                height: auto;
                position: relative;
                

                button{
                    position: relative;
                    left: 0 !important;
                    right: 0 !important;
                }
            }
        }
    }
}