.section-wraper {
    padding: 50px 0;
    overflow: hidden;
    
    .section-title {
        font-size: 24px;
        font-family: 'Myriad Pro Semibold', sans-serif;
        margin-bottom: 30px;
        text-transform: uppercase;
        color: black;

        @media screen and (max-width: 768px) {
            text-align: center;
        }
    }
}

.inner-title {
    @include title();
    color: #839097;

    @media screen and(max-width: $bp-MD) {
        font-size: 30px;
        line-height: 32px;
    }
}

.inner-desc {
    letter-spacing: 0.2px;
    text-align: center;
    color: rgb(173, 173, 173);
    font-size: 18px;
}

.color-primary {
    color: $sp-color-primary !important;
}

.color-secondary {
    color: $sp-color-secondary !important;
}

.border-light {
    border: .5px solid rgb(228, 228, 228) !important;
}

.price {
    font-size: 30px;
    font-weight: bold;
    color: $sp-color-primary !important;

    .total {
        font-size: 25px;
        margin-right: 30px;
        font-weight: 500;
    }

    .sign {
        font-size: 15px;
        font-weight: 500;
    }
}

.img-70 {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.circle {
    border-radius: 50%;
}

.container--max {
    padding: 0 80px;

    @media screen and(max-width: 992px) {
        padding: 0 40px;
    }

    @media screen and(max-width: 768px) {
        padding: 0 20px;
    }
}

.chevron-right {
    height: 100% !important;
    width: 100% !important;
    background-image: url(../images/ico/chevron-right.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.chevron-left {
    height: 100% !important;
    width: 100% !important;
    background-image: url(../images/ico/chevron-left.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.screen-reader-response{
    display:none;
}

.font_bold{
    font-weight: bold;
  }