.documento {
    height: 300px;
    padding: 25px;
    width: 100%;

    @media screen and (max-width: $bp-SM){
        padding: 25px 40px;
    }

    &__date {
        font-family: 'Myriad Pro Bold';
        font-size: 16px;
        margin: 10px 0;
        color: black;
    }

    &__desc {
        color: #075229;
        font-size: 18px;
        letter-spacing: 0.4px;
    }

    &__img {
        position: relative;
        height: 200px;
        width: 100%;
        margin-bottom: 15px;
        border: 1px solid #e4af3d;

        &:after {
            content: '';
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(12, 36, 2, 0.801);
            z-index: 2;
            opacity: 0;
            color: #fff;
            font-size: 50px;
            @include transition();

        }
        
        &.video{
            &::after{
                content: '\f04b';
                font-family: FontAwesome;
            }
        }

        &.download{
            &::after{
                content: '\f019';
                font-family: FontAwesome;
            }
        }

        &:hover {
            &:after {
                opacity: 1;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
    }
}