.dropdown {
    position: relative;

    .dropdown-menu {
        font-family: 'Myriad Pro Regular';
        border: none;
        background-color: rgba(255, 255, 255, 0.952);
        left: -55px !important;
        top: 10px !important;
        padding: 10px 30px;
        font-size: 15px;
        text-transform: none;
        width: 225px;
        
        .dropdown-item {
            padding: 17px 2px;
            text-align: center;
            text-shadow: none;
            white-space: normal;
            @include transition(0.2s);

            &:hover {
                background-color: inherit;
                text-shadow: 0 0 .45px #333, 0 0 .45px #333;
            }

            &:not(:last-child) {
                border-bottom: 0.8px solid black;
            }
        }

        &:after {
            content: '';
            position: absolute;
            // transform: translateX(-50%);
            right: 47%;
            top: -10px;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid rgb(255, 255, 255);
        }
    }

    a:focus,
    a:active {
        outline: none;
    }
}