.dropdown {
    position: relative;

    .dropdown-menu {
        font-family: 'Myriad Pro Regular';
        border: none;
        background-color: rgba(255, 255, 255, 0.986);
        left: 0px !important;
        top: 35px !important;
        padding: 15px;
        padding-top: 5px;
        font-size: 13px;
        white-space: nowrap;
        text-transform: none;
        width: 100%;
        box-shadow: 1px 1px 10px rgba(22, 22, 22, 0.062);

        @media screen and (max-width: $bp-XL){
            top: 52px !important;
        }
        
        .dropdown-item {
            padding: 17px 2px;
            text-align: center;
            text-shadow: none;
            white-space: normal;
            @include transition(0.2s);

            &:hover {
                background-color: inherit;
                text-shadow: 0 0 .45px #333, 0 0 .45px #333;
            }

            &:not(:last-child) {
                border-bottom: 0.8px solid black;
            }
        }

        &:after {
            content: '';
            position: absolute;
            // transform: translateX(-50%);
            right: 47%;
            top: -10px;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid rgb(255, 255, 255);
        }
    }

    a:focus,
    a:active {
        outline: none;
    }
}