.linhaacao-card{
    height: 100%;
    background-color: #fffcf4;
    border: 1px solid #e4af3d;
    min-height: 600px;
    display: flex;
    flex-direction: column;

    &__img{
        height: 50%;
        width: 100%;
        
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__caption{
        padding: 30px;
        height: 50%;
        width: 100%;

        &__title{
            font-size: 23px;
            text-transform: uppercase;
            color: #075229;
            margin-bottom: 15px;
        }

        p{
            font-size: 16px;
            text-align: left;
        }
    }
}