.main-footer {
    padding: 60px 0 20px;
    background-color: $sp-color-primary;
    letter-spacing: 1px;
    color: hsl(60, 100%, 98%);

    b {
        font-size: 17px;
    }

    &__title {
        font-family: 'Myriad Pro Semibold', sans-serif;
        color: $sp-color-secondary;
        font-size: 22px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 0;
        margin-right: 10px;
    }

    &__subtitle {
        font-size: 17px;
        margin: 20px 0;
    }
    @media screen and (min-width: 768px) {
        .brand-col {
            padding: 30px 50px 66px 0;
        }
    }

    &__brand {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        border-right: 1px solid #fff;
        @media screen and (max-width: 768px) {
            justify-content: flex-start;
            border: none;
        }

        img {
            width: 70%;
            @media screen and (max-width: 768px) {
                width: 150px;
                margin-bottom: 30px;
            }
        }
    }

    &__data {
        margin-bottom: 40px;
        ul {
            margin-bottom: 30px;
        }

        &__medias {
            margin-top: 60px;

            &__item {
                font-size: 23px;
                color: #fff;
                margin: 0 8px;
                @include transition();
                &:hover {
                    color: rgb(236, 235, 235);
                }
            }
        }
    }

    &__contact {

        &__submit {
            color: $sp-color-secondary;
            font-size: 15px;
            font-family: 'Myriad Pro Bold', sans-serif;
            text-transform: uppercase;
            padding: 0;
            margin-top: 20px;
        }
    }
}
