.noticia{
    background-color: #f5ebd0;
    height: 450px;
    width: 100%;
    
    @media screen and (max-width: 500px){
        width: 80%;
    }

    &__img{
        height: 50%;

        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__caption{
        height: 50%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 18px 25px;

        &__date{
            font-size: 15px;
            font-family: 'Myriad Pro Bold', sans-serif;
            color: #b57a30;
            margin-bottom: 10px
        }

        &__title{
            font-size: 20px;
            color: black;
            margin-bottom: 10px;
            letter-spacing: 0.4px;
        }

        &__more{
            font-size: 15px;
            color: black;
            font-family: 'Myriad Pro Bold', sans-serif;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
    }
}