.scroll-top{
    position: fixed;
    right: 90px;
    bottom: 50px;
    width: 35px;
    height: 35px;
    background-image: url(../images/ico/scrolltop.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 5;
    background-color: transparent;
    border: none;
    cursor: pointer;
    @include transition();
    opacity: 0;

    &.show{
        opacity: 1;
    }
    &:hover{
        @include scale(1.1);
    }

    &:active, &:focus{
        outline: none;
    }

    @media screen and (max-width: $bp-MD){
        right: 50px;
    }
}